@using MusicSharing.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@{
    Layout = "";
}

<link href="~/Content/loginstyle.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<body class="align bg">
    <h2>Music Sharing </h2>
    <div class="grid">

        <div id="login">

            <h2><span class="fontawesome-lock" style="flex:"></span>Login</h2>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal text-center", role = "form" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <fieldset>


                <p style=" float: left"> @Html.LabelFor(m => m.Email)</p>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <p>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "mail@address.com", @type = "email" })
                </p>




                <p style=" float: left">@Html.LabelFor(m => m.Password)</p>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" , @placeholder = "mail@address.com" })
                <p>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</p>




                <p style=" float: left"><input type="submit" value="Sign In">
                <p class="text-center signup" style=" float: right"> @Html.ActionLink("Sign UP", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
            </fieldset>

            }

        </div> <!-- end login -->

    </div>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("../../Content/Images/background2.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .signup {
            float: left;
            padding-left: 40px;
            padding-right: 40px;
            padding: 5px;
            background-color: #33cc77;
            border-radius: 5px;
        }
    </style>
    <script src="~/Scripts/bootstrap.js"></script>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}