
@{
    ViewBag.Title = "SearchMp3";
}

<h3>Mp3 List</h3>
<br/>

@model IEnumerable<MusicSharing.Models.MusicFile>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.songName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.singer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>Listen</th>
        @if (!this.User.IsInRole("User"))
        {
            <th>Actions</th>
        }
        </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.songName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.singer)
</td>
<td>
    @Html.DisplayFor(modelItem => item.size)
</td>
        @{
            string path = item.musicFileUrl;
        }
<td>



    @if (!this.User.IsInRole("User"))
    {<audio controls>
            <source src="~/Content/music/@path" type="audio/mpeg">
        </audio>
    }
    else
    {
        <audio controls  controlsList="nodownload">
            <source src="~/Content/music/@path" type="audio/mpeg">
        </audio>

    }


</td>
<td>
    @if (this.User.IsInRole("Admin"))
    {
       @Html.ActionLink("Edit | ", "Edit", new { id = item.musicFileId })
       @Html.ActionLink("Delete", "Delete", new { id = item.musicFileId })
    }
    @if (this.User.IsInRole("PaidUser"))
    {
       @Html.ActionLink("Download", "Delete", new { id = item.musicFileId })
    }
</td>
</tr>
}
</table>